#encabezado{
	background-color:blue;
}

body{
	background-image: url('../img/invierno.jpg'); /*los puntos son para moverte niveles de directorio, aqui use dos porque se debe salir de si y luego de estilos*/
	background-repeat: no-repeat;
	background-attachment:scroll;
}