{% extends "base.html" %}

{% block title %}Alta Producto{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<script type="text/javascript">
window.onload = function () {
    document.formita.nombre1.focus();
    document.formita.addEventListener('submit', validar);
}

function validar(evObject) {
    evObject.preventDefault();
    var bien = true;
    var telok = false;
    var formulario = document.formita;
    for (var i=0; i<formulario.length; i++) {
            if(formulario[i].type =='text') {

                   if (formulario[i].value == null || formulario[i].value.length == 0 || /^\s*$/.test(formulario[i].value)){
                       alert (formulario[i].name+ ' no puede estar vacío o contener sólo espacios en blanco');
                       bien=false;
                   }
            }
    }



    if(formulario.costo.value>0 && formulario.existenciasm.value>0){
        telok = true;
    }else{
        alert('El costo y las existencias deben ser de al menos 1');
    }

    if (bien == true && telok == true)
        {formulario.submit();}
}
</script>


    <h1>Registro de Producto</h1>
    <form name = "formita" method="post" class="form-group" action="/altaProductos/"> <!--A donde ira al accionar el boton-->
            {% csrf_token %}
            {{forma.as_p}}                             <!--La forma que recibe de la vista-->
            <p>Se le notificar&aacute cuando en el inventario haya menos productos que en las existencias minimas</p>
            <button type="submit" class="btn btn-dark">Registrar Producto</button>
    </form>
{% endblock %}